<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Emoji Machine Learning</title>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- p5 library for the grid -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
	
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>

<body>
	<div id="main">
		<div id="app"></div>
	</div>

	<script src="{% static 'sketch.js' %}"></script>
	<script src="{% static 'frontend/main.js' %}"></script>
</body>

</html>