*{
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	background-color: rgb(144, 221, 211);
	margin: 0px;
}

h2 {
	font-size: 2em;
	margin: 10px;
	text-align: center;
}

#buttons {
	margin-top: 10px;
	text-align: center;
}

.result {
	font-size: 1.3em;
}

.button {
	background-color: rgb(230, 230, 230);
	font-size: 1.5em;
	height: 60px;
	width: 60px;
	padding: 0px 10px;
	border: 0.2rem solid rgb(245, 245, 245);
}

canvas{
	margin-left: calc(50vw - 250px);
}

/* buttons */

button:hover {
	background-color: rgb(245, 245, 245);
}

#delete-button {
	border-color: rgb(241, 179, 179);
}

#delete-button:hover {
	background-color: rgb(241, 179, 179);
}

#clear-button {
	border-color: rgb(200, 200, 200);
}

#clear-button:hover {
	background-color: rgb(200, 200, 200);
}

.button-text {
	font-size: .3em;
}