* {
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	margin: 0px;
}

h2 {
	font-size: 2em;
	margin: 10px;
	text-align: center;
}

#buttons {
	margin-top: 10px;
	text-align: center;
}

.result {
	font-size: 1.3em;
}

#body {
	display: flex;
	flex-direction: row;
}

#left, #right{
	flex: 1;
}

#description{
	width: 80%;
	margin: auto;
}

#headers{
	text-align: center;
}

#canvas-container{
	width: fit-content;
	margin: auto;
}

/* buttons */

.button {
	background-color: rgb(230, 230, 230);
	font-size: 1.5em;
	height: 60px;
	width: 60px;
	padding: 0px 10px;
	border: 0.2rem solid rgb(200, 200, 200);
}

button:hover {
	background-color: rgb(200, 200, 200);
}

#clear-button {
	margin-right: 10px;
}

.button-text {
	font-size: .3em;
}